<div class="container-fluid">
    <div class="row">
        <div class="col-8 p-0">
            <div class="bg-cover">
                <div class="date1" id="date">{{currentDate | date : 'hh:mm a'}}</div>
                <div id="date_day">{{currentDate | date : 'MMM d, EEE '}}</div>
                <div id="img_content_line1">"Have the courage to follow</div>
                <div id="img_content_line2">your heart and intuition."</div>
                <div id="img_content_line3">- Steve Jobs -</div>
                <div class="bg-cover-lft-img"></div>
            </div>
        </div>
        <div class="col-4 p-0">
            <div class="card" style="height: 100vh;border-radius: 0px;border: none;">
                <form style="padding: 15px;" [formGroup]="loginForm">
                    <div class="row d-flex justify-content-center" style="margin-top: 10%;">
                        <img src="../../../assets/images/nsklogo.png" alt="Neverskip" style="width: auto;">
                    </div>
                    <div class="row" style="justify-content: center; display: grid;margin-top: 5%;">
                        <h4>Login your account</h4>
                    </div>

                    <br>

                    <div class="form-group" style="padding-left: 10px;">
                        <p class="mb-3">Enter your email / mobile no </p>
                    </div>
                    <div class="row">
                        <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <div class="input-icon">
                                <input class="form-control placeholder-no-fix text-box-size" type="text"
                                    placeholder="Mobile No / Email Id" autocomplete="off" name="username" id="username"
                                    aria-required="true" aria-invalid="false">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <div class="input-icon">
                                <input class="form-control placeholder-no-fix text-box-size" type="password"
                                    placeholder="Password" autocomplete="off" name="password" id="password" required>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <div class="input-icon">
                                <button class="btn w-100 btn-radius">Login</button>
                            </div>
                        </div>
                    </div>
                </form>
                <div class="col-12 p-0" >
                    <p class="d-flex justify-content-center" style="font-weight: 500;font-size: 13px;">
                        Forgot password ? <a routerLink="/forgotPassword" style="text-decoration: none;margin-left: 5px;color: #337ab7;">Click here</a>
                    </p>
                </div>

                <div class="row d-flex justify-content-center w-100">
                    <div class="col-12 p-0 gsso" >
                        <p class="d-flex justify-content-center align-content-center m-3" style="font-weight: 500;font-size: 13px;">
                            <a routerLink="/forgotPassword" style="text-decoration: none;margin-left: 5px;color: #337ab7;">Google SSO</a>
                        </p>
                    </div>
                </div>

                <div class="col-12 mt-3" style="padding: 0 25px;    margin: -15px 0 0 0;">
                    <p style="width: 100%; text-align: center; border-bottom: 2px solid #337ab7;  line-height: 0.1em; margin: 10px 0 20px; ">
                        <span style=" background:#fff;  padding:0 10px; ">OR</span></p>
                </div>

                <div class="row" style=" margin: -6px 0 0 0;">
                    <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <div class="input-icon">
                            <button class="btn w-100 btn-radius-parent">
                                <a class="parent-portal-link" style="color:white;" href="#" target="_blank">If you are a parent ? Click here</a>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="bottom_content">
                    <div class="copyright">
                        2025 © <a href="http://neverskip.com" target="_blank">Neverskip</a> Communication.
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>