<div class="container-fluid">
    <div class="row">
        <div class="col-8 p-0">
            <div class="bg-cover">
                <div class="date1" id="date">06:06 PM</div>
                <div id="date_day">Dec 23 , Mon</div>
                <div id="img_content_line1">"Have the courage to follow</div>
                <div id="img_content_line2">your heart and intuition."</div>
                <div id="img_content_line3">- Steve Jobs -</div>
                <div class="bg-cover-lft-img"></div>
            </div>
        </div>
        <div class="col-4 p-0">
            <div class="card" style="height: 100vh;border-radius: 0px; border: none;">
                <form style="padding: 15px;" [formGroup]="loginForm">
                    <div class="row d-flex justify-content-center" style="margin-top: 10%;">
                        <img src="../../../assets/images/nsklogo.png" alt="Neverskip" style="width: auto;">
                    </div>
                    <div class="row" style="justify-content: center; display: grid;margin-top: 5%;">
                        <h4>Login your account</h4>
                    </div>

                    <br>

                    <div class="form-group">
                        <p class="mb-3">Enter Mobile no / Email id </p>
                    </div>
                    <div class="row">
                        <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <div class="input-icon">
                                <input class="form-control placeholder-no-fix text-box-size" type="text"
                                    placeholder="Mobile No / Email Id" autocomplete="off" name="username" id="username"
                                    aria-required="true" aria-invalid="false">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <div class="input-icon">
                                <input class="form-control placeholder-no-fix text-box-size" type="password"
                                    placeholder="Password" autocomplete="off" name="password" id="password" required>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <div class="input-icon">
                                <button class="btn w-100 btn-radius">Login</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>